{
  "presets": [
    "env",
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread"
  ]
}
