.scanbox {
  background-color: transparent;
  padding: 0;
}

.section-top {
  margin-top: 20px;
}

.scan-ico-for-detaile {
  height: 24px;
  width: 328px;
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 24px;
}

textarea.console {
  height: 50px;
  width: 100%;
  font-size: large;
  border:0px;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.scan-button {
  height: 50px;
  color:white;
  border:0px;
  width:100%;
  border-radius: 4px;
  background-color: #09719B;
  font-size:large;
}

.scan-content .token-distribution-table {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 1.5625rem;
  color: #656b72;
  margin-top: 14px;
  margin-bottom: 14px;
}

.box-container {
  margin-bottom: 40px;
}

.scanbox-details .statistics .title , .scan-content .title {
  color: #2b2b2b;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 20px;
}

/* special case for gini index*/
.scanbox-details .scan-content .stats {
  margin-bottom: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 1.5625rem;
  color: #656b72;
  font-size: 14px;
}

.scanbox-details .stats {
  margin-bottom: 30px;
}

.scanbox-details .stats table th {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
  width: auto;
}

.scanbox-details .stats table td {
  white-space: nowrap;
}

.scanbox-details .stats table td.wrap {
  white-space: normal;
}

.scanbox-details .stats table th i {
  font-size: 10px;
}

.scanbox-details .tooltip {
  cursor: pointer;
}

.scanbox-details .tooltip::after {
  content: "\f05a";
  font-family: FontAwesome;
  font-size: 20px;
  font-weight: 400;
  margin-left: 5px;
}

.inner-table {
  margin-left:80px !important;
}
.inner-table  table th {
  padding-left: 50px !important;;
}

/* -------------
 * Table Styles
 * -------------
*/

.pure-table th,
.pure-table td {
  padding-right: 7px;
  padding-left: 7px;
}

.table-responsive {
  -webkit-overflow-scrolling: touch;
}

.table-responsive table {
  width: 100%;
  min-width: 35.5em;
  border-left-width: 0;
  border-right-width: 0;
}

.table-responsive .mq-table {
  width: 100%;
  min-width: 44em;
}

.mq-table th.highlight {
  background-color: rgb(255, 234, 133);
}

.mq-table td.highlight {
  background-color: rgb(255, 250, 229);
}

.mq-table th.highlight code,
.mq-table td.highlight code {
  background: rgb(255, 255, 243);
}

.mq-table-mq code {
  font-size: 0.875em;
}

.alarm {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000000;
  border-radius: 7px;
  text-align: center;
}

.alarm-middle {
  vertical-align: middle;
  position: absolute;
  top: 40%;
  width:100%;
}

.relative {
  position: relative;
}

.full-height {
  height: 100%;
}

.table {
  width: 100%;
  border: solid thin;
  border-collapse: collapse;
  border-color: #656b72;
}
.table td {
  white-space: nowrap;
  border-style: none solid;
  vertical-align: top;

}

.table th {
  color: #2b2b2b;
  font-weight: normal;
  padding: 0.2em;
  vertical-align: middle;
  text-align: center;

}
.table td , .table th {
  border: solid thin #656b72;
  padding: 0.5rem 2rem;
}

.ico-scan-header {
  background: white;
  padding-top:20px;
  padding-left:20px;
}

.ico-scan-header .ico-logo {
  text-align: center;
  line-height: 75px;
}

.ico-scan-header .ico-logo img, .ico-box  .name  .ico-logo img {
  height: 36.8px;
  width: auto;
}

.ico-scan-header .name h4 {
  margin: 0px;
  margin-bottom: 2px;
}

.ico-scan-header .name h4 a {
  color: #000000;
  text-decoration: none;
  font-size: 22px;
}

.ico-scan-header .ico-logo img {
  float: left;
}

.ico-scan-header .name {
  height: auto;
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.ico-scan-header .part {
  padding-bottom: 26px;
  padding-right: 0px;
}

.scan-message-loading p {
  width: 80%;
  margin: auto;
  padding-top: 33px;
  padding-bottom: 33px;
}

.chart-parent{
  position: relative;
  height: 351px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 4px 4px 48px;
  margin-top: 14px;
}

.chart-body {
  color: #2b2b2b;
  position: absolute;
  margin-top:26px;
  width: 100%;
}

.chart-parent .x-axis-label {
  position: absolute;
  right: 4px;
  bottom: 28px;
  font-size: 13px;
}

.chart-parent .title {
  text-align: center;
}

.chart-parent .y-axis-label {
  position: absolute;
  top: 48px;
  left: 20px;
  font-size: 13px;
}
.chart-btn {
  background: none;
  border: 0;
  color: #556877;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  left: 0;
  bottom: -28px;
  position: absolute;
}

.chart-btn:hover, .chart-btn:focus {
  color: #C6D30D;
}

.chart-btn .fa {
  margin-right: 10px;
}

.scanbox-details-parameters {
  padding-top: 20px;
  border-top: 1px solid #e5e7e9;
}

.font-light {
  font-weight: 300;
}

.part-status {
  padding-right: 20px !important;
}

.right .title-status {
  text-align: right;
}

.section {
  position: relative;
  padding-top: 20px;
}

@media(min-width:767px) {
  .scanbox-details .stats table td {
    padding-left:150px;
  }
}

.custom-tooltip {
  background: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
}

.social-share {
  height: 23px;
  padding: 0;
}

.social-share li {
  float: left;
  list-style: none;
  margin-right: 10px;
}

.social-share .SocialMediaShareButton{
  vertical-align: middle;
  cursor: pointer;
}
