.scanbox{
  background-color: #F7F8F9;
  padding-top:0px;
}

.scan-ico-for-detaile {
  height: 24px;
  width: 328px;
  color: #000000;
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 300;
  line-height: 24px;
}

textarea.console{
  height: 50px;
  width: 100%;
  font-size: large;
  border:0px;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: inset 0 1px 3px 0 #D9DBDC;
}

.scan-button {
  height: 50px;
  color:white;
  border:0px;
  width:100%;
  border-radius: 4px;
  background-color: #09719B;
  box-shadow: 0 2px 4px 0 #A3C0CC;
  font-size:large;
}

.scan-content .token-distribution-table{
  padding: 20px;
}
.box-container{
  margin-bottom: 40px;
}

.scanbox-details .statistics .title , .scan-content .title{
  color: #000000;
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 20px;
}

/* special case for gini index*/
.scanbox-details .scan-content .stats {
  margin-bottom: 0;
}

.scanbox-details .stats {
  margin-bottom: 30px;
}
.scanbox-details .stats table{
  margin-left:39px;
}

.scanbox-details .stats table th {
  color: #4A4A4A;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

.scanbox-details .tooltip {
  cursor: pointer;
}

.scanbox-details .tooltip::after{
  content: "\f05a";
  font-family: FontAwesome;
  font-size: 20px;
  font-weight: 400;
  margin-left: 5px;
}

.inner-table {
  margin-left:80px !important;
}
.inner-table  table th{
  padding-left: 50px !important;;
}

/* -------------
 * Table Styles
 * -------------
*/

.pure-table th,
.pure-table td {
  padding-right: 7px;
  padding-left: 7px;
}

.table-responsive {
  -webkit-overflow-scrolling: touch;
}
.table-responsive table {
  width: 100%;
  min-width: 35.5em;
  border-left-width: 0;
  border-right-width: 0;
}

.table-responsive .mq-table {
  width: 100%;
  min-width: 44em;
}

.mq-table th.highlight {
  background-color: rgb(255, 234, 133);
}

.mq-table td.highlight {
  background-color: rgb(255, 250, 229);
}

.mq-table th.highlight code,
.mq-table td.highlight code {
  background: rgb(255, 255, 243);
}

.mq-table-mq code {
  font-size: 0.875em;
}

.alarm{
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f9f9f9;
  color: #09719b;
  border: 1px solid #d9d9d9;
  border-radius: 7px;
  text-align: center;
}

.alarm-middle{
  vertical-align: middle;
  position: absolute;
  top: 40%;
  width:100%;
}

.relative{
  position: relative;
}

.full-height{
  height: 100%;
}

.table{
  width: 100%;
  border: solid thin;
  border-collapse: collapse;

}
.table td {
  white-space: nowrap;
  border-style: none solid;
  vertical-align: top;

}

.table th {
  font-weight: normal;
  padding: 0.2em;
  vertical-align: middle;
  text-align: center;

}
.table td , .table th{
  border: solid thin;
  padding: 0.5rem 2rem;
}

.ico-scan-header{
  background: white;
  padding-top:20px;
  padding-left:20px;
}

.ico-scan-header .ico-logo{
  text-align: center;
  line-height: 75px;
}

.ico-scan-header .ico-logo img, .ico-box  .name  .ico-logo img{
  height: 36.8px;
  width: auto;
}

.ico-scan-header .name h4{
  margin: 0px;
  margin-bottom: 2px;
}

.ico-scan-header .name h4 a{
  color: #000000;
  text-decoration: none;
  font-size: 22px;
  /*line-height:39px;*/
}

.ico-scan-header .ico-logo img{
  float: left;
}

.ico-scan-header .name{
  height: 40px;
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.ico-scan-header .part {
  padding-bottom: 26px;
  padding-right: 0px;
}

.scan-message-loading p{
  width: 300px;
  margin: auto;
  padding-top: 33px;
  padding-bottom: 33px;
}
.chart-parent{
  position: relative;
  height:351px;
  padding-bottom:20px;
}

.chart-body{
  position: absolute;
  margin-top:26px;
  width: 100%;
}

.chart-parent .x-axis-label{
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 13px;
}

.chart-parent .title{
  text-align: center;
}

.chart-parent .y-axis-label{
  position: absolute;
  top: 40px;
  left: 20px;
  font-size: 13px;
}
.chart-btn{
  background: none;
  border: 0;
  color: #2f89ba;
  font-size: 16px;
  font-weight:500;
  cursor: pointer;
}

.chart-btn .fa{
  margin-right: 10px;
}

.scanbox-details-parameters{
  padding-top: 20px;
  border-top: 1px solid #e5e7e9;
}

.font-light{
  font-weight: 300;
}

.part-status{
  padding-right: 20px !important;
}

.right .title-status{
  text-align: right;
}

@media(min-width:767px){
  .scanbox-details .stats table td {
    padding-left:150px;
  }
}
